:root {
    background-color: #ecf5ff;
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 16px;
  }
  
  h1 {
    font-size: 60px;
    color: #56a5eb;
    margin-bottom: 60px;
  }
  
  h1 > span {
    font-size: 20px;
    font-weight: 250;
  }
  
  h2 {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 350;
  }
  
  h3 {
    font-size: 35px;
    font-weight: 250;
  }
  
  /* UTILITIES */
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  /* BUTTONS */
  .btn {
    font-size: 25px;
    padding: 16px 0;
    width: 320px;
    text-align: center;
    border: 1.6px solid #56a5eb;
    margin-bottom: 16px;
    text-decoration: none;
    color: #56a5eb;
    background-color: transparent;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 6.4px 25px 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-1.6px);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
  
  /* FORMS */
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 16px;
    width: 320px;
    padding: 25px;
    font-size: 25px;
    border: none;
    box-shadow: 0 1.6px 20px 0px rgba(86, 185, 235, 0.5);
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  #backbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 65px;
  }
  
  #clearDataBtn {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 150px;
    height: 65px;
  }
  
  #quickquiz {
    font-size: 60px;
    color: blue;
    margin-bottom: 60px;
    position: relative;
    animation: textHighlight 3s infinite alternate; /* Animation applied */
  }
  
  @keyframes textHighlight {
    100% {
      color: #56a5eb; /* Initial color */
      text-shadow: 0 0 10px #56a5eb; /* Initial text shadow */
    }
    100% {
      color: #56a5eb; /* Final color */
      text-shadow: 0 0 20px #56a5eb; /* Final text shadow */
    }
  }